header{
	background: skyblue;
	padding: 10px 10px 10px 10px;
		background: linear-gradient(to bottom right, #107bc1, #30373b);
			color: white;

}
header:hover{
	background: linear-gradient(to bottom right, white, black);

}
body{
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to bottom right, #212121 , #BDBDBD);
	margin: 0px;
	/*text-align: center;*/
	position: relative;
	
}
li{
	font-weight: bold;
	color: white;


}
a{
	color: white;
	text-decoration: none;
}
li:hover{
	font-size: 30px;
	color: white;
	
}
a:hover{
	font-size: 30px;
	color: white;


}
h1{
	text-align: center;
	font-weight: bold;
}
footer	{
	/*background: linear-gradient(to bottom right, #107bc1, #30373b);*/
	padding: 10px;
	margin-top: 60px;
	color: white;
}
/*footer:hover{
	background: linear-gradient(to bottom right, white, black);*/
	/*font-size: 30px;*/
}
