body {
    padding: 50px;
}

.star {
    color: gold;
    font-size: 100px;
    background-color: black;
    position: relative;
}

.star:first-child {
    color: green;
}

.star:nth-child(2) {
    color: blue;
    right: 50px;
    top: 20px;
}

.star:nth-child(3) {
    color: red;
    left: 80px;
    z-index: 1;
}

.star:nth-child(4) {
    color: yellow;
}