button {
    padding: 10px;
    cursor: pointer;
    background-color: #616161;
    color: white;
    border: none;
    font-stretch: expanded;
}


button:hover {
    background-color: #ccc;
    color: #616161;
}

button:focus {
    outline: none;
}

button:active {
    color: black;
}