body {
    padding: 50px;
}

.star {
    color: gold;
    font-size: 100px;
    background-color: black;
    opacity: 0.5;
    position: fixed;
}

.star:first-child {
    color: green;
    top: 0px;
    left: 0px;
}

.star:nth-child(2) {
    color: blue;
    top: 0px;
    right: 0px;
}

.star:nth-child(3) {
    color: red;
    bottom: 0px;
    left: 0px;
}

.star:nth-child(4) {
    color: yellow;
    bottom: 0px;
    right: 0px;
}